<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="irMuseo()">
      <ion-card-title>Museos</ion-card-title>
    </ion-card-header>
    <ion-card-content>Aqui se puede acceder al listado le los museos para ver sus recorridos</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header (click)="irInscripciones()">
      <ion-card-title>Mis Recorridos</ion-card-title>
    </ion-card-header>
    <ion-card-content>Aqui se puede acceder a el listado de los recorridos guardados</ion-card-content>
  </ion-card>
</ion-content>
